<div class="page-container">
    @if (vm$ | async; as vm) {
        <app-sub-page-header
            [backdropPath]="vm.media?.backdropPath"
            [parentTitle]="vm.media?.title"
            [backLink]="['../']"
            pageTitle="Videos"
        />

        <main class="page-main">
            @if (vm.isLoading) {
                <section class="videos">
                    <app-browse-toolbar class="videos__toolbar">
                        <app-skeleton start class="videos__count-skeleton" />
                        <app-skeleton end class="videos__sort-skeleton" />
                    </app-browse-toolbar>

                    <div class="videos__grid">
                        @for (i of skeletonCount | repeat; track i) {
                            <div class="videos__card-skeleton">
                                <app-skeleton class="videos__card-media-skeleton" />
                                <app-skeleton class="videos__card-line-skeleton videos__card-line-skeleton--title" />
                                <app-skeleton class="videos__card-line-skeleton videos__card-line-skeleton--meta" />
                                <app-skeleton class="videos__card-line-skeleton videos__card-line-skeleton--short" />
                            </div>
                        }
                    </div>
                </section>
            } @else if (vm.videoItems.length) {
                <section class="videos">
                    <app-browse-toolbar class="videos__toolbar">
                        <span start class="text-caption">
                            1 - {{ vm.videoItems.length }} of {{ vm.videoItems.length }}
                        </span>
                        <app-sort-button
                            end
                            [options]="sortOptions"
                            [selectedValue]="vm.sortField"
                            [direction]="vm.sortDirection"
                            (sortChange)="setSortField($event)"
                            (directionToggle)="toggleSortDirection()"
                        />
                    </app-browse-toolbar>

                    <div class="videos__grid">
                        @for (item of vm.videoItems; track item.id) {
                            <app-video-card [item]="item" />
                        }
                    </div>
                </section>
            } @else {
                <section class="videos__empty">
                    <app-empty-state
                        iconClass="fa-regular fa-circle-play"
                        text="No videos available for this title."
                    />
                </section>
            }
        </main>
    }
</div>
