<app-icon-button
    [matMenuTriggerFor]="localeMenu"
    ariaLabel="Change language and region"
>
    <i class="fa-solid fa-earth-europe locale-button-icon"></i>
</app-icon-button>

<mat-menu #localeMenu="matMenu">
    <div class="locale-panel" (click)="$event.stopPropagation()">
        <div class="locale-field">
            <span class="locale-label text-caption">Language</span>
            <mat-select
                class="locale-select"
                aria-label="Language"
                [value]="selectedLanguage"
                (selectionChange)="onLanguageChange($event.value)"
            >
                <mat-option>
                    <ngx-mat-select-search
                        class="locale-select-search"
                        placeholderLabel="Search"
                        noEntriesFoundLabel="No language"
                        ngModel
                        (ngModelChange)="updateLanguageFilter($event)"
                    ></ngx-mat-select-search>
                </mat-option>
                @if (languageOptions$ | async; as options) {
                    @for (opt of options; track opt.value) {
                        <mat-option [value]="opt.value">{{
                            opt.label
                        }}</mat-option>
                    }
                }
            </mat-select>
        </div>

        <div class="locale-field">
            <span class="locale-label text-caption">Region</span>
            <mat-select
                class="locale-select"
                aria-label="Region"
                [value]="selectedRegion"
                (selectionChange)="onRegionChange($event.value)"
            >
                <mat-option
                    ><ngx-mat-select-search
                        class="locale-select-search"
                        placeholderLabel="Search"
                        noEntriesFoundLabel="No region"
                        ngModel
                        (ngModelChange)="updateRegionFilter($event)"
                    ></ngx-mat-select-search
                ></mat-option>
                @if (countryOptions$ | async; as options) {
                    @for (opt of options; track opt.value) {
                        <mat-option [value]="opt.value">{{
                            opt.label
                        }}</mat-option>
                    }
                }
            </mat-select>
        </div>
    </div>
</mat-menu>
