@use 'mixins' as *;

.header-locale-selector {
    &__icon {
        @include icon-size(1rem);
    }

    &__panel {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        min-width: 240px;
        padding: var(--space-4) var(--space-5);
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
    }

    &__select {
        width: 100%;
    }
}
