<app-icon-button [matMenuTriggerFor]="localeMenu" ariaLabel="Change language and region">
    <i class="header-locale-selector__icon fa-solid fa-earth-europe"></i>
</app-icon-button>

<mat-menu #localeMenu="matMenu">
    <div class="header-locale-selector__panel" (click)="$event.stopPropagation()">
        <div class="header-locale-selector__field">
            <span class="text-overline">Language</span>
            <mat-select
                class="header-locale-selector__select"
                aria-label="Language"
                [value]="selectedLanguage"
                (selectionChange)="onLanguageChange($event.value)"
            >
                <mat-option>
                    <ngx-mat-select-search
                        class="header-locale-selector__search"
                        placeholderLabel="Search"
                        noEntriesFoundLabel="No language"
                        ngModel
                        (ngModelChange)="updateLanguageFilter($event)"
                    ></ngx-mat-select-search>
                </mat-option>
                @if (languageOptions$ | async; as options) {
                    @for (opt of options; track opt.value) {
                        <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
                    }
                }
            </mat-select>
        </div>

        <div class="header-locale-selector__field">
            <span class="text-overline">Region</span>
            <mat-select
                class="header-locale-selector__select"
                aria-label="Region"
                [value]="selectedRegion"
                (selectionChange)="onRegionChange($event.value)"
            >
                <mat-option>
                    <ngx-mat-select-search
                        class="header-locale-selector__search"
                        placeholderLabel="Search"
                        noEntriesFoundLabel="No region"
                        ngModel
                        (ngModelChange)="updateRegionFilter($event)"
                    ></ngx-mat-select-search>
                </mat-option>
                @if (countryOptions$ | async; as options) {
                    @for (opt of options; track opt.value) {
                        <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
                    }
                }
            </mat-select>
        </div>
    </div>
</mat-menu>
