{
  "openapi": "3.0.3",
  "info": {
    "title": "TMDB API",
    "version": "3",
    "description": "The Movie Database API v3"
  },
  "servers": [
    {
      "url": "https://api.themoviedb.org/3"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Certification"
    },
    {
      "name": "Changes"
    },
    {
      "name": "Collection"
    },
    {
      "name": "Company"
    },
    {
      "name": "Configuration"
    },
    {
      "name": "Credit"
    },
    {
      "name": "Discover"
    },
    {
      "name": "Find"
    },
    {
      "name": "Genre"
    },
    {
      "name": "GuestSession"
    },
    {
      "name": "Keyword"
    },
    {
      "name": "List"
    },
    {
      "name": "Movie"
    },
    {
      "name": "MovieList"
    },
    {
      "name": "Network"
    },
    {
      "name": "Person"
    },
    {
      "name": "PersonList"
    },
    {
      "name": "Review"
    },
    {
      "name": "Search"
    },
    {
      "name": "Trending"
    },
    {
      "name": "TvEpisode"
    },
    {
      "name": "TvEpisodeGroup"
    },
    {
      "name": "TvSeason"
    },
    {
      "name": "TvSeries"
    },
    {
      "name": "TvSeriesList"
    },
    {
      "name": "WatchProvider"
    }
  ],
  "paths": {
    "/authentication": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate Key",
        "description": "Test your API Key to see if it's valid.",
        "operationId": "authentication-validate-key",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Details",
        "description": "Get the public details of an account on TMDB.",
        "operationId": "account-details",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/favorite": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Add Favorite",
        "description": "Mark a movie or TV show as a favourite.",
        "operationId": "account-add-favorite",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "media_type": "movie",
                    "media_id": 550,
                    "favorite": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/watchlist": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Add To Watchlist",
        "description": "Add a movie or TV show to your watchlist.",
        "operationId": "account-add-to-watchlist",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "media_type": "movie",
                    "media_id": 11,
                    "watchlist": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/favorite/movies": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Favorite Movies",
        "description": "Get a users list of favourite movies.",
        "operationId": "account-get-favorites",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/favorite/tv": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Favorite TV",
        "description": "Get a users list of favourite TV shows.",
        "operationId": "account-favorite-tv",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvSeriesPage"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/lists": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Lists",
        "description": "Get a users list of custom lists.",
        "operationId": "account-lists",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListPage"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/rated/movies": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Rated Movies",
        "description": "Get a users list of rated movies.",
        "operationId": "account-rated-movies",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatedMoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/rated/tv": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Rated TV",
        "description": "Get a users list of rated TV shows.",
        "operationId": "account-rated-tv",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatedTvSeriesPage"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/rated/tv/episodes": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Rated TV Episodes",
        "description": "Get a users list of rated TV episodes.",
        "operationId": "account-rated-tv-episodes",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatedTvEpisodePage"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/watchlist/movies": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Watchlist Movies",
        "description": "Get a list of movies added to a users watchlist.",
        "operationId": "account-watchlist-movies",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_id}/watchlist/tv": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Watchlist TV",
        "description": "Get a list of TV shows added to a users watchlist.",
        "operationId": "account-watchlist-tv",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvSeriesPage"
                }
              }
            }
          }
        }
      }
    },
    "/authentication/guest_session/new": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Guest Session",
        "description": "",
        "operationId": "authentication-create-guest-session",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authentication/token/new": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Request Token",
        "description": "",
        "operationId": "authentication-create-request-token",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authentication/session/new": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Session",
        "description": "",
        "operationId": "authentication-create-session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "request_token": "6bc047b88f669d1fb86574f06381005d93d3517a"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authentication/session/convert/4": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Session (from v4 token)",
        "description": "",
        "operationId": "authentication-create-session-from-v4-token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "access_token": "eyK0eXAiOiJAV1QiLCJhbGciOiUIUzI1NiJ9.eyJhdWQiOiI0Ozc2YzA1ZTg4YTY1Yzk0MjFjZDI1NmBiYzRiNGE0NyIsInN1YiI6IjRiYzg4OTJhMDE3YTNjMGY5MjAwMDAwMiIsInNjb3BlayI6WyJhcGlfcmVhZCJdLCL2ZXJzaW9uIjoxfQ.Bn660W0Vi-_AI5HvwIEqtc2s5mAXDknBnTrUREZYH7A"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authentication/token/validate_with_login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Session (with login)",
        "description": "This method allows an application to validate a request token by entering a username and password.",
        "operationId": "authentication-create-session-from-login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "username": "johnny_appleseed",
                    "password": "test123",
                    "request_token": "1531f1a558c8357ce8990cf887ff196e8f5402ec"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authentication/session": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Delete Session",
        "description": "",
        "operationId": "authentication-delete-session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "session_id": "2629f70fb498edc263a0adb99118ac41f0053e8c"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/certification/movie/list": {
      "get": {
        "tags": [
          "Certification"
        ],
        "summary": "Movie Certifications",
        "description": "Get an up to date list of the officially supported movie certifications on TMDB.",
        "operationId": "certification-movie-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationList"
                }
              }
            }
          }
        }
      }
    },
    "/certification/tv/list": {
      "get": {
        "tags": [
          "Certification"
        ],
        "summary": "TV Certifications",
        "description": "",
        "operationId": "certifications-tv-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/changes": {
      "get": {
        "tags": [
          "Changes"
        ],
        "summary": "Movie List",
        "description": "Get a list of all of the movie ids that have been changed in the past 24 hours.",
        "operationId": "changes-movie-list",
        "parameters": [
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaChangePage"
                }
              }
            }
          }
        }
      }
    },
    "/person/changes": {
      "get": {
        "tags": [
          "Changes"
        ],
        "summary": "People List",
        "description": "",
        "operationId": "changes-people-list",
        "parameters": [
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaChangePage"
                }
              }
            }
          }
        }
      }
    },
    "/tv/changes": {
      "get": {
        "tags": [
          "Changes"
        ],
        "summary": "TV List",
        "description": "",
        "operationId": "changes-tv-list",
        "parameters": [
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaChangePage"
                }
              }
            }
          }
        }
      }
    },
    "/collection/{collection_id}": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "Details",
        "description": "Get collection details by ID.",
        "operationId": "collection-details",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionDetails"
                }
              }
            }
          }
        }
      }
    },
    "/collection/{collection_id}/images": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "Images",
        "description": "Get the images that belong to a collection.",
        "operationId": "collection-images",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "include_image_language",
            "in": "query",
            "description": "specify a comma separated list of ISO-639-1 values to query, for example: `en-US,null`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionImages"
                }
              }
            }
          }
        }
      }
    },
    "/collection/{collection_id}/translations": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "Translations",
        "description": "",
        "operationId": "collection-translations",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationList"
                }
              }
            }
          }
        }
      }
    },
    "/company/{company_id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Details",
        "description": "Get the company details by ID.",
        "operationId": "company-details",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDetails"
                }
              }
            }
          }
        }
      }
    },
    "/company/{company_id}/alternative_names": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Alternative Names",
        "description": "Get the company details by ID.",
        "operationId": "company-alternative-names",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlternativeNameList"
                }
              }
            }
          }
        }
      }
    },
    "/company/{company_id}/images": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Images",
        "description": "Get the company logos by id.",
        "operationId": "company-images",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyImages"
                }
              }
            }
          }
        }
      }
    },
    "/configuration": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Details",
        "description": "Query the API configuration details.",
        "operationId": "configuration-details",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          }
        }
      }
    },
    "/configuration/countries": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Countries",
        "description": "Get the list of countries (ISO 3166-1 tags) used throughout TMDB.",
        "operationId": "configuration-countries",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/jobs": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Jobs",
        "description": "Get the list of the jobs and departments we use on TMDB.",
        "operationId": "configuration-jobs",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/languages": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Languages",
        "description": "Get the list of languages (ISO 639-1 tags) used throughout TMDB.",
        "operationId": "configuration-languages",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/primary_translations": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Primary Translations",
        "description": "Get a list of the officially supported translations on TMDB.",
        "operationId": "configuration-primary-translations",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/timezones": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Timezones",
        "description": "Get the list of timezones used throughout TMDB.",
        "operationId": "configuration-timezones",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Timezone"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credit/{credit_id}": {
      "get": {
        "tags": [
          "Credit"
        ],
        "summary": "Details",
        "description": "Get a movie or TV credit details by ID.",
        "operationId": "credit-details",
        "parameters": [
          {
            "name": "credit_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string",
              "default": "en-US"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditDetails"
                }
              }
            }
          }
        }
      }
    },
    "/discover/movie": {
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "Movie",
        "description": "Find movies using over 30 filters and sort options.",
        "operationId": "discover-movie",
        "parameters": [
          {
            "name": "certification",
            "in": "query",
            "description": "use in conjunction with `region`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certification.gte",
            "in": "query",
            "description": "use in conjunction with `region`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certification.lte",
            "in": "query",
            "description": "use in conjunction with `region`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certification_country",
            "in": "query",
            "description": "use in conjunction with the `certification`, `certification.gte` and `certification.lte` filters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_video",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "primary_release_year",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "primary_release_date.gte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "primary_release_date.lte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "release_date.gte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "release_date.lte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "original_title.asc",
                "original_title.desc",
                "popularity.asc",
                "popularity.desc",
                "revenue.asc",
                "revenue.desc",
                "primary_release_date.asc",
                "title.asc",
                "title.desc",
                "primary_release_date.desc",
                "vote_average.asc",
                "vote_average.desc",
                "vote_count.asc",
                "vote_count.desc"
              ],
              "default": "popularity.desc"
            }
          },
          {
            "name": "vote_average.gte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_average.lte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_count.gte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_count.lte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "watch_region",
            "in": "query",
            "description": "use in conjunction with `with_watch_monetization_types ` or `with_watch_providers `",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_cast",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_companies",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_crew",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_genres",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_keywords",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_origin_country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_original_language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_people",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_release_type",
            "in": "query",
            "description": "possible values are: [1, 2, 3, 4, 5, 6] can be a comma (`AND`) or pipe (`OR`) separated query, can be used in conjunction with `region`",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_runtime.gte",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_runtime.lte",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_watch_monetization_types",
            "in": "query",
            "description": "possible values are: [flatrate, free, ads, rent, buy] use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_watch_providers",
            "in": "query",
            "description": "use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_companies",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_genres",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_keywords",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_watch_providers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/discover/tv": {
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "TV",
        "description": "Find TV shows using over 30 filters and sort options.",
        "operationId": "discover-tv",
        "parameters": [
          {
            "name": "air_date.gte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "air_date.lte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "first_air_date_year",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "first_air_date.gte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "first_air_date.lte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_null_first_air_dates",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "screened_theatrically",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "first_air_date.asc",
                "first_air_date.desc",
                "name.asc",
                "name.desc",
                "original_name.asc",
                "original_name.desc",
                "popularity.asc",
                "popularity.desc",
                "vote_average.asc",
                "vote_average.desc",
                "vote_count.asc",
                "vote_count.desc"
              ],
              "default": "popularity.desc"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vote_average.gte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_average.lte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_count.gte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_count.lte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "watch_region",
            "in": "query",
            "description": "use in conjunction with `with_watch_monetization_types ` or `with_watch_providers `",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_companies",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_genres",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_keywords",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_networks",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_origin_country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_original_language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_runtime.gte",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_runtime.lte",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_status",
            "in": "query",
            "description": "possible values are: [0, 1, 2, 3, 4, 5], can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_watch_monetization_types",
            "in": "query",
            "description": "possible values are: [flatrate, free, ads, rent, buy] use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_watch_providers",
            "in": "query",
            "description": "use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_companies",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_genres",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_keywords",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_watch_providers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_type",
            "in": "query",
            "description": "possible values are: [0, 1, 2, 3, 4, 5, 6], can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvSeriesPage"
                }
              }
            }
          }
        }
      }
    },
    "/find/{external_id}": {
      "get": {
        "tags": [
          "Find"
        ],
        "summary": "Find By ID",
        "description": "Find data by external ID's.",
        "operationId": "find-by-id",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_source",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "imdb_id",
                "facebook_id",
                "instagram_id",
                "tvdb_id",
                "tiktok_id",
                "twitter_id",
                "wikidata_id",
                "youtube_id"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindResult"
                }
              }
            }
          }
        }
      }
    },
    "/genre/movie/list": {
      "get": {
        "tags": [
          "Genre"
        ],
        "summary": "Movie List",
        "description": "Get the list of official genres for movies.",
        "operationId": "genre-movie-list",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenreList"
                }
              }
            }
          }
        }
      }
    },
    "/genre/tv/list": {
      "get": {
        "tags": [
          "Genre"
        ],
        "summary": "TV List",
        "description": "Get the list of official genres for TV shows.",
        "operationId": "genre-tv-list",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenreList"
                }
              }
            }
          }
        }
      }
    },
    "/guest_session/{guest_session_id}/rated/movies": {
      "get": {
        "tags": [
          "GuestSession"
        ],
        "summary": "Rated Movies",
        "description": "Get the rated movies for a guest session.",
        "operationId": "guest-session-rated-movies",
        "parameters": [
          {
            "name": "guest_session_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatedMoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/guest_session/{guest_session_id}/rated/tv": {
      "get": {
        "tags": [
          "GuestSession"
        ],
        "summary": "Rated TV",
        "description": "Get the rated TV shows for a guest session.",
        "operationId": "guest-session-rated-tv",
        "parameters": [
          {
            "name": "guest_session_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatedTvSeriesPage"
                }
              }
            }
          }
        }
      }
    },
    "/guest_session/{guest_session_id}/rated/tv/episodes": {
      "get": {
        "tags": [
          "GuestSession"
        ],
        "summary": "Rated TV Episodes",
        "description": "Get the rated TV episodes for a guest session.",
        "operationId": "guest-session-rated-tv-episodes",
        "parameters": [
          {
            "name": "guest_session_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at.asc",
                "created_at.desc"
              ],
              "default": "created_at.asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatedTvEpisodePage"
                }
              }
            }
          }
        }
      }
    },
    "/keyword/{keyword_id}": {
      "get": {
        "tags": [
          "Keyword"
        ],
        "summary": "Details",
        "description": "",
        "operationId": "keyword-details",
        "parameters": [
          {
            "name": "keyword_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keyword"
                }
              }
            }
          }
        }
      }
    },
    "/keyword/{keyword_id}/movies": {
      "get": {
        "tags": [
          "Keyword"
        ],
        "summary": "Movies",
        "description": "",
        "operationId": "keyword-movies",
        "parameters": [
          {
            "name": "keyword_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordMoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}/add_item": {
      "post": {
        "tags": [
          "List"
        ],
        "summary": "Add Movie",
        "description": "Add a movie to a list.",
        "operationId": "list-add-movie",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "media_id": 18
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}/item_status": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Check Item Status",
        "description": "Use this method to check if an item has already been added to the list.",
        "operationId": "list-check-item-status",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "movie_id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItemStatus"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}/clear": {
      "post": {
        "tags": [
          "List"
        ],
        "summary": "Clear",
        "description": "Clear all items from a list.",
        "operationId": "list-clear",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list": {
      "post": {
        "tags": [
          "List"
        ],
        "summary": "Create",
        "description": "",
        "operationId": "list-create",
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "name": "This is my awesome test list.",
                    "description": "Just an awesome list.",
                    "language": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}": {
      "delete": {
        "tags": [
          "List"
        ],
        "summary": "Delete",
        "description": "Delete a list.",
        "operationId": "list-delete",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Details",
        "description": "",
        "operationId": "list-details",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDetails"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}/remove_item": {
      "post": {
        "tags": [
          "List"
        ],
        "summary": "Remove Movie",
        "description": "Remove a movie from a list.",
        "operationId": "list-remove-movie",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "media_id": 18
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/movie/now_playing": {
      "get": {
        "tags": [
          "MovieList"
        ],
        "summary": "Now Playing",
        "description": "Get a list of movies that are currently in theatres.",
        "operationId": "movie-now-playing-list",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "ISO-3166-1 code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePageWithDates"
                }
              }
            }
          }
        }
      }
    },
    "/movie/popular": {
      "get": {
        "tags": [
          "MovieList"
        ],
        "summary": "Popular",
        "description": "Get a list of movies ordered by popularity.",
        "operationId": "movie-popular-list",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "ISO-3166-1 code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/movie/top_rated": {
      "get": {
        "tags": [
          "MovieList"
        ],
        "summary": "Top Rated",
        "description": "Get a list of movies ordered by rating.",
        "operationId": "movie-top-rated-list",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "ISO-3166-1 code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/movie/upcoming": {
      "get": {
        "tags": [
          "MovieList"
        ],
        "summary": "Upcoming",
        "description": "Get a list of movies that are being released soon.",
        "operationId": "movie-upcoming-list",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "ISO-3166-1 code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePageWithDates"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Details",
        "description": "Get the top level details of a movie by ID.",
        "operationId": "movie-details",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "append_to_response",
            "in": "query",
            "description": "comma separated list of endpoints within this namespace, 20 items max",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Movie"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/account_states": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Account States",
        "description": "Get the rating, watchlist and favourite status of an account.",
        "operationId": "movie-account-states",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guest_session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStates"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/alternative_titles": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Alternative Titles",
        "description": "Get the alternative titles for a movie.",
        "operationId": "movie-alternative-titles",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "country",
            "in": "query",
            "description": "specify a ISO-3166-1 value to filter the results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlternativeTitleList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/changes": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Changes",
        "description": "Get the recent changes for a movie.",
        "operationId": "movie-changes",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/credits": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Credits",
        "description": "",
        "operationId": "movie-credits",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credits"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/external_ids": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "External IDs",
        "description": "",
        "operationId": "movie-external-ids",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIds"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/images": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Images",
        "description": "Get the images that belong to a movie.",
        "operationId": "movie-images",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "include_image_language",
            "in": "query",
            "description": "specify a comma separated list of ISO-639-1 values to query, for example: `en-US,null`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/keywords": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Keywords",
        "description": "",
        "operationId": "movie-keywords",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/latest": {
      "get": {
        "tags": [
          "MovieList"
        ],
        "summary": "Latest",
        "description": "Get the newest movie ID.",
        "operationId": "movie-latest-id",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Movie"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/lists": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Lists",
        "description": "Get the lists that a movie has been added to.",
        "operationId": "movie-lists",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListPage"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/recommendations": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Recommendations",
        "description": "",
        "operationId": "movie-recommendations",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/release_dates": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Release Dates",
        "description": "Get the release dates and certifications for a movie.",
        "operationId": "movie-release-dates",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseDateList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/reviews": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Reviews",
        "description": "Get the user reviews for a movie.",
        "operationId": "movie-reviews",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewPage"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/similar": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Similar",
        "description": "Get the similar movies based on genres and keywords.",
        "operationId": "movie-similar",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviePage"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/translations": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Translations",
        "description": "Get the translations for a movie.",
        "operationId": "movie-translations",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/videos": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Videos",
        "description": "",
        "operationId": "movie-videos",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/watch/providers": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Watch Providers",
        "description": "Get the list of streaming providers we have for a movie.",
        "operationId": "movie-watch-providers",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchProviderList"
                }
              }
            }
          }
        }
      }
    },
    "/movie/{movie_id}/rating": {
      "post": {
        "tags": [
          "Movie"
        ],
        "summary": "Add Rating",
        "description": "Rate a movie and save it to your rated list.",
        "operationId": "movie-add-rating",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "guest_session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json;charset=utf-8"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
[...]
