{
  "openapi": "3.0.3",
  "info": {
    "title": "TMDB API v4 Lists",
    "version": "4",
    "description": "Focused OpenAPI spec for TMDB v4 list endpoints. This is intentionally separate from the repo's v3 openapi.json so the generated client can target the /4 server cleanly."
  },
  "servers": [
    {
      "url": "https://api.themoviedb.org/4"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Account"
    },
    {
      "name": "List"
    }
  ],
  "paths": {
    "/auth/request_token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Request Token",
        "description": "Create a TMDB v4 user authentication request token.",
        "operationId": "authentication-v4-create-request-token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V4RequestTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4RequestTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/access_token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Access Token",
        "description": "Exchange an approved TMDB v4 request token for a TMDB v4 user access token.",
        "operationId": "authentication-v4-create-access-token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V4AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4AccessTokenResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "description": "Delete a TMDB v4 user access token.",
        "operationId": "authentication-v4-delete-access-token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V4DeleteAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/{account_object_id}/lists": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Lists",
        "description": "Get the custom lists that a user has created.",
        "operationId": "account-v4-lists",
        "parameters": [
          {
            "name": "account_object_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4AccountListPage"
                }
              }
            }
          }
        }
      }
    },
    "/list": {
      "post": {
        "tags": [
          "List"
        ],
        "summary": "Create",
        "description": "Create a new list.",
        "operationId": "list-v4-create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V4CreateListRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4CreateListResponse"
                }
              }
            }
          },
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4CreateListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Details",
        "description": "Retrieve a list by id.",
        "operationId": "list-v4-details",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/V4ListSortBy"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4ListDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "List"
        ],
        "summary": "Update",
        "description": "Update the details of a list.",
        "operationId": "list-v4-update",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V4UpdateListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4StatusResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "List"
        ],
        "summary": "Delete",
        "description": "Delete a list.",
        "operationId": "list-v4-delete",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}/items": {
      "post": {
        "tags": [
          "List"
        ],
        "summary": "Add Items",
        "description": "Add items to a list.",
        "operationId": "list-v4-add-items",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V4ListItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4StatusResponse"
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4StatusResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "List"
        ],
        "summary": "Update Items",
        "description": "Update an individual item on a list. Currently, only adding a comment is supported.",
        "operationId": "list-v4-update-items",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V4ListItemUpdatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4StatusResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "List"
        ],
        "summary": "Remove Items",
        "description": "Remove items from a list.",
        "operationId": "list-v4-remove-items",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V4ListItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}/item_status": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Item Status",
        "description": "Check if an item is on a list. TMDB notes that you must own the list and use a valid user access token for this check.",
        "operationId": "list-v4-item-status",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "media_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/V4ListMediaType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4ListItemStatus"
                }
              }
            }
          }
        }
      }
    },
    "/list/{list_id}/clear": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Clear",
        "description": "Clear all items from a list.",
        "operationId": "list-v4-clear",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V4StatusResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "V4RequestTokenRequest": {
        "type": "object",
        "required": [
          "redirect_to"
        ],
        "properties": {
          "redirect_to": {
            "type": "string"
          }
        }
      },
      "V4RequestTokenResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V4StatusResponse"
          },
          {
            "type": "object",
            "properties": {
              "request_token": {
                "type": "string"
              }
            }
          }
        ]
      },
      "V4AccessTokenRequest": {
        "type": "object",
        "required": [
          "request_token"
        ],
        "properties": {
          "request_token": {
            "type": "string"
          }
        }
      },
      "V4AccessTokenResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V4StatusResponse"
          },
          {
            "type": "object",
            "properties": {
              "access_token": {
                "type": "string"
              },
              "account_id": {
                "type": "string"
              }
            }
          }
        ]
      },
      "V4DeleteAccessTokenRequest": {
        "type": "object",
        "required": [
          "access_token"
        ],
        "properties": {
          "access_token": {
            "type": "string"
          }
        }
      },
      "V4ListMediaType": {
        "type": "string",
        "enum": [
          "movie",
          "tv"
        ]
      },
      "V4ListSortBy": {
        "type": "string",
        "enum": [
          "original_order.asc",
          "original_order.desc",
          "vote_average.asc",
          "vote_average.desc",
          "primary_release_date.asc",
          "primary_release_date.desc",
          "title.asc",
          "title.desc"
        ]
      },
      "V4StatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "status_code": {
            "type": "integer",
            "format": "int32"
          },
          "status_message": {
            "type": "string"
          }
        }
      },
      "V4CreateListRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "public": {
            "type": "boolean"
          },
          "iso_639_1": {
            "type": "string",
            "description": "Language code used by TMDB when creating a v4 list.",
            "example": "en"
          },
          "iso_3166_1": {
            "type": "string",
            "description": "Country code used by TMDB when creating a v4 list.",
            "example": "US"
          }
        }
      },
      "V4UpdateListRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "public": {
            "type": "boolean"
          },
          "sort_by": {
            "$ref": "#/components/schemas/V4ListSortBy"
          }
        }
      },
      "V4CreateListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V4StatusResponse"
          },
          {
            "type": "object",
            "properties": {
              "list_id": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ]
      },
      "V4ListItemInput": {
        "type": "object",
        "required": [
          "media_type",
          "media_id"
        ],
        "properties": {
          "media_type": {
            "$ref": "#/components/schemas/V4ListMediaType"
          },
          "media_id": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "V4ListItemUpdateInput": {
        "type": "object",
        "required": [
          "media_type",
          "media_id",
          "comment"
        ],
        "properties": {
          "media_type": {
            "$ref": "#/components/schemas/V4ListMediaType"
          },
          "media_id": {
            "type": "integer",
            "format": "int32"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "V4ListItemsRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V4ListItemInput"
            }
          }
        }
      },
      "V4ListItemUpdatesRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V4ListItemUpdateInput"
            }
          }
        }
      },
      "V4ListItemStatus": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "status_code": {
            "type": "integer",
            "format": "int32"
          },
          "status_message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "item_present": {
            "type": "boolean"
          }
        }
      },
      "V4AccountListSummary": {
        "type": "object",
        "properties": {
          "account_object_id": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "public": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "number_of_items": {
            "type": "integer",
            "format": "int32"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "V4AccountListPage": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32"
          },
          "total_results": {
            "type": "integer",
            "format": "int32"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V4AccountListSummary"
            }
          }
        }
      },
      "V4ListContentItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "media_type": {
            "$ref": "#/components/schemas/V4ListMediaType"
          },
          "title": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "overview": {
            "type": "string"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "backdrop_path": {
            "type": "string",
            "nullable": true
          },
          "comment": {
            "type": "string"
          },
          "release_date": {
            "type": "string",
            "nullable": true
          },
          "first_air_date": {
            "type": "string",
            "nullable": true
          },
          "vote_average": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "V4ListDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "sort_by": {
            "$ref": "#/components/schemas/V4ListSortBy"
          },
          "public": {
            "type": "boolean"
          },
          "favorite_count": {
            "type": "integer",
            "format": "int32"
          },
          "item_count": {
            "type": "integer",
            "format": "int32"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32"
          },
          "total_results": {
            "type": "integer",
            "format": "int32"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V4ListContentItem"
            }
          }
        }
      }
    }
  }
}
