@use "responsive.scss" as *;

:host ::ng-deep {
  .header {
    border-bottom: 1px solid var(--p-menubar-border-color);
    background: var(--p-menubar-background);
    height: 60px;

    .p-menubar {
      border-radius: unset;
      border: unset;
      max-width: 1400px;
      margin: auto;

      &-item-link-active {
        background: var(--p-menubar-item-focus-background);
      }
    }
  }
}

::ng-deep {
  .p-menubar-end {
    .p-autocomplete {
      width: 500px;

      input {
        width: 100%;
      }
    }
  }

  .p-autocomplete-list-container {
    max-height: 400px !important;
    max-width: 500px !important;
    .autocomplete-item {
      img {
        width: 100px;
      }
      .p-chip-label {
        font-size: 0.8rem;
      }
    }
  }

  @include mobile() {
    .p-autocomplete-list-container {
      img {
        width: 50px;
        height: 60px;
      }
      .result-title {
        // max-width: 40px;
        text-wrap: wrap;
        text-overflow: ellipsis;
      }
    }
    .p-menubar-end {
      .p-autocomplete {
        width: 280px;

        input {
          width: 100%;
        }
      }
    }
  }
}
