<footer class="footer">
  <div class="inner-container p-6 md:p-8">
    <div class="justify-content-between flex flex-col">
      <div>
        <p class="m-0">
          © 2025 <a href="mailto:torod76@gmail.com">Dávid Törő</a> - All rights
          reserved.
        </p>
        <p class="m-0">
          Built with
          <a href="https://angular.dev/" target="_blank">Angular</a> and
          <a href="https://primeng.org/" target="_blank">PrimeNG</a>
        </p>
        <p>
          Data provided by
          <a href="https://www.themoviedb.org/" target="_blank"
            ><img
              src="assets/tmdb-icon.svg"
              class="inline"
              [style.width.px]="80"
          /></a>
        </p>
      </div>
      <div>
        <div class="hidden md:flex gap-2">
          <a
            href="https://github.com/dtoro97/tmdb-client"
            class="p-ripple p-button p-component p-button-contrast p-button-outlined"
            target="_blank"
          >
            <span
              class="fa-brands fa-github p-button-icon p-button-icon-left"
            ></span>
            <span class="p-button-label"> Source Code </span>
          </a>

          <a
            href="https://github.com/dtoro97/tmdb-client/issues"
            class="p-ripple p-button p-component p-button-contrast p-button-outlined"
            target="_blank"
          >
            <span
              class="fa-solid fa-bug p-button-icon p-button-icon-left"
            ></span>
            <span class="p-button-label"> Submit a bug </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
