<div class="youtube-video">
    <div class="youtube-video__frame aspect-landscape">
        <iframe
            class="youtube-video__embed"
            [src]="video | yt"
            [title]="video.name"
            loading="lazy"
            referrerpolicy="strict-origin-when-cross-origin"
            allow="
                accelerometer;
                autoplay;
                clipboard-write;
                encrypted-media;
                gyroscope;
                picture-in-picture;
                web-share;
            "
            allowfullscreen
        ></iframe>

        @if (showTypeBadge && video.type) {
            <app-badge class="youtube-video__type-badge" [label]="video.type" />
        }
    </div>
</div>
