<div class="page-container">
    @if (personDetailStore.personDetailVm$ | async; as vm) {
        <app-sub-page-header
            [parentTitle]="
                (vm.person.state === 'success'
                    ? vm.person.data?.name
                    : undefined) ?? ''
            "
            [backLink]="['../']"
            pageTitle="Photos"
        />

        <div class="page-main">
            @if (vm.photos.state === "loading") {
                <app-photos-browser-skeleton></app-photos-browser-skeleton>
            } @else if (vm.photos.state === "success") {
                <app-photos-browser
                    [images]="vm.photos.data"
                    (photoSelect)="openPhotoViewer($event)"
                />
            }
        </div>
    }
</div>



