<article class="card" aria-hidden="true">
    <div class="card__copy">
        <div class="card__main">
            <div class="card__title-row">
                <app-skeleton
                    class="card__line card__line--title"
                />
                <app-skeleton
                    class="card__line card__line--count"
                />
            </div>
            <app-skeleton
                class="card__line card__line--body"
            />
        </div>

        <div class="card__footer">
            <app-skeleton
                class="card__line card__line--meta"
            />
            <app-skeleton
                class="card__line card__line--action"
            />
        </div>
    </div>
</article>

