:host ::ng-deep {
  .header {
    border-bottom: 1px solid var(--p-menubar-border-color);
    background: var(--p-menubar-background);
    height: 60px;

    .p-menubar {
      border-radius: unset;
      border: unset;
      max-width: 1400px;
      margin: auto;
    }
  }
}

::ng-deep {
  .p-menubar-end {
    .p-autocomplete {
      width: 500px;

      input {
        width: 100%;
      }
    }
  }

  .p-autocomplete-list-container {
    max-height: 400px !important;
    .autocomplete-item {
      img {
        width: 100px;
      }

      &.mobile {
        img {
          width: 50px;
          height: 60px;
        }
        .result-title {
          // max-width: 40px;
          text-wrap: wrap;
          text-overflow: ellipsis;
        }
      }

      .p-chip-label {
        font-size: 0.8rem;
      }
    }
  }

  .mobile {
    .p-menubar-end {
      .p-autocomplete {
        width: 280px;

        input {
          width: 100%;
        }
      }
    }
  }
}
