<div
  class="h-full details-container pb-4"
  [class.mobile]="isMobile()"
  [class.dark]="isDarkMode$ | async"
>
  <div class="relative">
    <img
      *ngIf="hasBackdrop$ | async"
      [src]="backdrop$ | async | imgSrc : 'w1920_and_h800_multi_faces'"
      class="backdrop-image"
    />
    <div class="gradient-cover"></div>
  </div>
  <div
    class="relative info-container md:ml-auto md:mr-auto md:px-8 px-4 w-full"
    [class.mt-0]="(hasBackdrop$ | async) === false"
    [class.pt-4]="(hasBackdrop$ | async) === false"
    [style.maxWidth.px]="1400"
  >
    <div class="flex md:flex-row flex-column" *ngIf="item$ | async as item">
      <div class="">
        <img
          src="{{ item.poster_path | imgSrc : 'w500' }}"
          class="poster-image border-round-lg"
        />
        <div class="mt-4 mb-3">
          <app-social-links
            [links]="externalIds$ | async"
            [item]="item"
          ></app-social-links>
        </div>
      </div>
      <div class="flex flex-column mt-2 md:mt-8 gap-2 md:ml-6">
        <h1 class="m-0">{{ item.title || item.name }}</h1>
        <p class="m-0">
          {{ item.release_date || item.first_air_date | date : "yyyy" }}
        </p>
        <div class="flex flex-row gap-2">
          <p-rating
            [ngModel]="item.vote_average / 2"
            [readonly]="true"
          ></p-rating>
          <span>{{ item.vote_average | number : "1.1-1" }}/10</span>
        </div>
        <div class="flex flex-row mt-2 gap-2">
          <ng-container *ngFor="let genre of item.genres">
            <p-chip styleClass="cursor-pointer genre">
              <a
                [routerLink]="'/list/' + (mediaType$ | async)"
                [queryParams]="{ with_genres: genre.id }"
                >{{ genre.name }}</a
              ></p-chip
            >
          </ng-container>
        </div>
        <p class="mt-2 mb-0 line-height-4" [style.maxWidth.px]="550">
          {{ item.overview }}
        </p>
        <ul class="list-none line-height-4 pl-0">
          <li class="flex" *ngIf="item.first_air_date">
            <div class="media-info-label">First Aired</div>
            <div class="flex-1">{{ item.first_air_date | date }}</div>
          </li>
          <li class="flex" *ngIf="item.last_air_date">
            <div class="media-info-label">Last Aired</div>
            <div class="flex-1">{{ item.last_air_date | date }}</div>
          </li>
          <li class="flex" *ngIf="item.release_date">
            <div class="media-info-label">Released</div>
            <div class="flex-1">{{ item.release_date | date }}</div>
          </li>
          <li class="flex" *ngIf="item.runtime">
            <div class="media-info-label">Runtime</div>
            <div class="flex-1">{{ item.runtime | m2h }}</div>
          </li>
          <li class="flex" *ngIf="item.budget">
            <div class="media-info-label">Budget</div>
            <div class="flex-1">${{ item.budget | number }}</div>
          </li>
          <li class="flex" *ngIf="item.revenue">
            <div class="media-info-label">Revenue</div>
            <div class="flex-1">${{ item.revenue | number }}</div>
          </li>
          <li class="flex" *ngIf="item.created_by?.length">
            <div class="media-info-label">Creator</div>
            <div class="flex-1">
              <ng-container *ngFor="let creator of item.created_by; index as i">
                <span
                  class="cursor-pointer"
                  routerLink="/details/person/{{ creator.id }}"
                  >{{ creator.name }}</span
                >
                <span *ngIf="i !== item.created_by.length - 1">, </span>
              </ng-container>
            </div>
          </li>
          <li class="flex" *ngIf="item.number_of_seasons">
            <div class="media-info-label">Seasons</div>
            <div class="flex-1">{{ item.number_of_seasons }}</div>
          </li>
          <li class="flex" *ngIf="item.number_of_episodes">
            <div class="media-info-label">Episodes</div>
            <div class="flex-1">{{ item.number_of_episodes }}</div>
          </li>

          <li class="flex" *ngIf="item.status">
            <div class="media-info-label">Status</div>
            <div class="flex-1">{{ item.status }}</div>
          </li>
          <li
            class="flex"
            *ngIf="item.languages?.length || item.original_language"
          >
            <div class="media-info-label">Languages</div>
            <div class="flex-1">
              <ng-container *ngFor="let lang of languages$ | async; index as i">
                <span>{{ lang }}</span>
                <span *ngIf="i !== (languages$ | async).length - 1">, </span>
              </ng-container>
            </div>
          </li>
          <li class="flex" *ngIf="item.networks?.length">
            <div class="media-info-label">Networks</div>
            <div class="flex-1">
              <ng-container *ngFor="let network of item.networks; index as i">
                <span>{{ network.name }}</span>
                <span *ngIf="i !== item.networks.length - 1">, </span>
              </ng-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-2 mx-2 md:mx-4">
    <p-tabs [value]="activeTab" (valueChange)="activeTab = $event">
      <p-tablist>
        <ng-container *ngFor="let tabHeader of tabs$ | async">
          <p-tab *ngIf="tabHeader.visible" [value]="tabHeader.value">{{
            tabHeader.title
          }}</p-tab>
        </ng-container>
      </p-tablist>
    </p-tabs>
    <ng-container *ngIf="activeTab === 'overview'">
      <div *ngIf="(cast$ | async).length">
        <div class="flex justify-content-center flex-column">
          <h2 class="md:px-4 px-2">Full Cast</h2>
          <p-carousel
            [value]="cast$ | async"
            [numVisible]="8"
            [numScroll]="8"
            [showIndicators]="false"
            [responsiveOptions]="breakpoints"
          >
            <ng-template let-person pTemplate="item">
              <app-person-card [person]="person"></app-person-card>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'episodes'">
      <div class="flex flex-row py-4 mx-2">
        <div>
          <label for="seasons" class="mr-2">Seasons</label>
          <p-select
            optionLabel="name"
            optionValue="season_number"
            id="seasons"
            [ngModel]="selectedSeason$ | async"
            [options]="seasons$ | async"
            [disabled]="(seasons$ | async)?.length === 1"
            (ngModelChange)="changeSeason($event)"
          ></p-select>
          <strong
            class="muted md:px-4 px-2"
            *ngIf="episodeCount$ | async as episodeCount"
            >{{ episodeCount }} Episodes</strong
          >
        </div>
      </div>

      <div class="grid m-0">
        <div
          class="col-12 sm:col-6 md:col-4 lg:col-3 p-2 episode-item"
          *ngFor="let episode of episodes$ | async"
        >
          <div>
            <img
              src="{{ episode.still_path | imgSrc }}"
              *ngIf="episode.still_path; else empty"
            />
            <ng-template #empty>
              <img src="assets/empty_still.svg" />
            </ng-template>
          </div>
          <h2 class="name">
            <strong class="mr-2">E{{ episode.episode_number }}</strong
            >{{ episode.name }}
          </h2>
          <div class="mb-3">{{ episode.overview }}</div>
          <div class="muted">{{ episode.air_date | date }}</div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'videos'">
      <div *ngIf="(videos$ | async).length">
        <h2 class="md:px-4 px-2">Videos</h2>
        <div
          class="flex flex-row gap-2 mx-2 md:mx-7 overflow-y-hidden overflow-x-auto"
        >
          <div class="video-frame" *ngFor="let video of videos$ | async">
            <iframe
              [src]="video | yt"
              title="{{ video.name }}"
              frameborder="0"
              allowedfullscreen
              class="iframe"
            ></iframe>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'photos'">
      <div *ngIf="(backdrops$ | async)?.length">
        <h2 class="md:px-4 px-2 mb-0">Backdrops</h2>
        <strong class="muted md:px-4 px-2"
          >{{ (backdrops$ | async)?.length }} Images</strong
        >
        <div
          class="flex flex-wrap gap-3 mt-4 justify-content-center md:justify-content-start mx-2 md:mx-6"
        >
          <a
            href="{{ image.file_path | imgSrc }}"
            target="_blank"
            *ngFor="let image of backdrops$ | async"
          >
            <img class="backdrop-photo" src="{{ image.file_path | imgSrc }}" />
          </a>
        </div>
      </div>
      <div *ngIf="(posters$ | async)?.length">
        <h2 class="md:px-4 px-2 mb-0">Posters</h2>
        <strong class="muted md:px-4 px-2"
          >{{ (posters$ | async)?.length }} Images</strong
        >
        <div
          class="flex flex-wrap gap-3 mt-4 justify-content-center md:justify-content-start mx-2 md:mx-6"
        >
          <a
            href="{{ image.file_path | imgSrc }}"
            target="_blank"
            *ngFor="let image of posters$ | async"
          >
            <img class="poster-photo" src="{{ image.file_path | imgSrc }}" />
          </a>
        </div>
      </div>
    </ng-container>
    <div *ngIf="(recommendations$ | async).length">
      <h2 class="md:px-4 px-2">More Like This</h2>
      <p-carousel
        [value]="recommendations$ | async | sort : 'vote_average'"
        [numVisible]="8"
        [numScroll]="8"
        [showIndicators]="false"
        [responsiveOptions]="breakpoints"
      >
        <ng-template let-media pTemplate="item">
          <app-card [item]="media"></app-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
