<div
  class="h-full details-container pb-6"
  [ngClass]="{ dark: isDarkMode$ | async, mobile: isMobile$ | async }"
>
  <div class="relative">
    <img
      *ngIf="hasPoster"
      src="{{ item.backdrop_path | imgSrc : 'w1920_and_h800_multi_faces' }}"
      alt=""
      class="backdrop-image"
    />
    <div class="gradient-cover"></div>
  </div>
  <div
    class="relative info-container md:ml-auto md:mr-auto md:px-8 px-4 w-full"
    [ngClass]="{ 'mt-0': !hasPoster, 'pt-4': !hasPoster }"
    [style.maxWidth.px]="1400"
  >
    <div class="flex md:flex-row flex-column">
      <div class="">
        <img
          src="{{ item.poster_path | imgSrc : 'w500' }}"
          class="poster-image border-round-lg"
        />
      </div>
      <div class="flex flex-column mt-2 md:mt-8 gap-2 md:ml-6">
        <h1 class="m-0">{{ item.title || item.name }}</h1>
        <p class="m-0">
          {{ item.release_date || item.first_air_date | date : "yyyy" }}
          <!-- {{ language$ | async }} ●
          {{
            mediaType === "tv"
              ? item.number_of_episodes + " Episodes"
              : (item.runtime | m2h)
          }} -->
        </p>
        <div class="flex flex-row gap-2">
          <p-rating
            [ngModel]="item.vote_average / 2"
            [readonly]="true"
          ></p-rating>
          <span>{{ item.vote_average | number : "1.1-1" }}/10</span>
        </div>
        <div class="flex flex-row mt-2 gap-2">
          <ng-container *ngFor="let genre of item.genres">
            <p-chip [label]="genre.name"></p-chip>
          </ng-container>
        </div>
        <p class="mt-2 mb-0 line-height-4" [style.maxWidth.px]="550">
          {{ item.overview }}
        </p>
        <ul class="list-none line-height-4 pl-0">
          <li class="flex" *ngIf="item.first_air_date">
            <div class="media-info-label">First Aired</div>
            <div class="flex-1">{{ item.first_air_date | date }}</div>
          </li>
          <li class="flex" *ngIf="item.last_air_date">
            <div class="media-info-label">Last Aired</div>
            <div class="flex-1">{{ item.last_air_date | date }}</div>
          </li>
          <li class="flex" *ngIf="item.release_date">
            <div class="media-info-label">Released</div>
            <div class="flex-1">{{ item.release_date | date }}</div>
          </li>
          <li class="flex" *ngIf="item.runtime">
            <div class="media-info-label">Runtime</div>
            <div class="flex-1">{{ item.runtime | m2h }}</div>
          </li>
          <li class="flex" *ngIf="item.budget">
            <div class="media-info-label">Budget</div>
            <div class="flex-1">${{ item.budget | number }}</div>
          </li>
          <li class="flex" *ngIf="item.revenue">
            <div class="media-info-label">Revenue</div>
            <div class="flex-1">${{ item.revenue | number }}</div>
          </li>
          <li class="flex" *ngIf="item.created_by?.length">
            <div class="media-info-label">Creator</div>
            <div class="flex-1">
              <ng-container *ngFor="let creator of item.created_by; index as i">
                <span
                  class="cursor-pointer"
                  routerLink="/details/person/{{ creator.id }}"
                  >{{ creator.name }}</span
                >
                <span *ngIf="i !== item.created_by.length - 1">, </span>
              </ng-container>
            </div>
          </li>
          <li class="flex" *ngIf="item.number_of_seasons">
            <div class="media-info-label">Seasons</div>
            <div class="flex-1">{{ item.number_of_seasons }}</div>
          </li>
          <li class="flex" *ngIf="item.number_of_episodes">
            <div class="media-info-label">Episodes</div>
            <div class="flex-1">{{ item.number_of_episodes }}</div>
          </li>

          <li class="flex" *ngIf="item.status">
            <div class="media-info-label">Status</div>
            <div class="flex-1">{{ item.status }}</div>
          </li>
          <li
            class="flex"
            *ngIf="item.languages?.length || item.original_language"
          >
            <div class="media-info-label">Languages</div>
            <div class="flex-1">
              <ng-container *ngFor="let lang of languages$ | async; index as i">
                <span>{{ lang }}</span>
                <span *ngIf="i !== (languages$ | async).length - 1">, </span>
              </ng-container>
            </div>
          </li>
          <li class="flex" *ngIf="item.networks?.length">
            <div class="media-info-label">Networks</div>
            <div class="flex-1">
              <ng-container *ngFor="let network of item.networks; index as i">
                <span>{{ network.name }}</span>
                <span *ngIf="i !== item.networks.length - 1">, </span>
              </ng-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="inner-container mt-4 md:mt-8" *ngIf="cast.length">
    <div class="flex justify-content-center flex-column">
      <p class="font-bold xl:text-2xl md:text-xl text-lg mb-3 md:px-8 px-4">
        Full Cast
      </p>
      <p-carousel
        [value]="cast"
        [numVisible]="8"
        [numScroll]="8"
        [showIndicators]="false"
        [responsiveOptions]="breakpointsSmall"
      >
        <ng-template let-actor pTemplate="item">
          <app-actor-card [actor]="actor"></app-actor-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="inner-container" *ngIf="videos?.length">
    <p class="font-bold xl:text-2xl md:text-xl text-lg mb-3 md:px-8 px-4">
      Videos
    </p>
    <div class="flex flex-row gap-2 px-4 overflow-y-hidden overflow-x-auto">
      <div class="video-frame" *ngFor="let video of videos">
        <iframe
          [src]="video | yt"
          title="{{ video.name }}"
          frameborder="0"
          allowedfullscreen
          class="iframe"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="inner-container" *ngIf="recommendations?.length">
    <p class="font-bold xl:text-2xl md:text-xl text-lg mb-3 md:px-8 px-4">
      Recommendations
    </p>
    <p-carousel
      [value]="recommendations | sort : 'vote_average'"
      [numVisible]="8"
      [numScroll]="8"
      [showIndicators]="false"
      [responsiveOptions]="breakpoints"
    >
      <ng-template let-media pTemplate="item">
        <app-card [item]="media"></app-card>
      </ng-template>
    </p-carousel>
  </div>
</div>
