<app-hero-banner [item]="(homeStore.trending$ | async)?.[0]"></app-hero-banner>

<div class="home-sections">
  <section class="home-section">
    <div class="section-header">
      <h2>Trending</h2>
    </div>
    <div class="mb-4 ml-3">
      <app-pill-toggle
        [options]="trendingOptions"
        (selected)="changeTrending($event)"
        [selectedValue]="homeStore.trendingTime$ | async"
      ></app-pill-toggle>
    </div>

    <app-media-carousel
      [items]="(homeStore.trending$ | async) || []"
    ></app-media-carousel>
  </section>

  <section class="home-section">
    <div class="section-header">
      <h2>Popular People</h2>
    </div>
    <app-people-carousel
      [items]="(homeStore.popularPeople$ | async) || []"
    ></app-people-carousel>
  </section>

  <section class="home-section">
    <div class="section-header">
      <h2>Now Playing in Theaters</h2>
    </div>
    <app-media-carousel
      [items]="(homeStore.nowPlaying$ | async) || []"
      type="movie"
    ></app-media-carousel>
  </section>

  <section class="home-section">
    <div class="section-header">
      <h2>Airing Today</h2>
    </div>
    <app-media-carousel
      [items]="(homeStore.airingToday$ | async) || []"
      type="tv"
    ></app-media-carousel>
  </section>

  <section class="home-section">
    <div class="section-header">
      <h2>Upcoming Movies</h2>
    </div>
    <app-media-carousel
      [items]="(homeStore.upcoming$ | async) || []"
      type="movie"
    ></app-media-carousel>
  </section>

  <section class="home-section">
    <div class="section-header">
      <h2>What's Popular</h2>
    </div>

    <div class="mb-4 ml-3">
      <app-pill-toggle
        [options]="popularOptions"
        [selectedValue]="homeStore.popularType$ | async"
        (selected)="changePopular($event)"
      ></app-pill-toggle>
    </div>
    <app-media-carousel
      [items]="(homeStore.popular$ | async) || []"
      [type]="(homeStore.popularType$ | async)!"
    ></app-media-carousel>
  </section>

  <section class="home-section">
    <div class="section-header">
      <h2>Top Rated</h2>
    </div>

    <div class="mb-4 ml-3">
      <app-pill-toggle
        class="mb-4 ml-3"
        [options]="topRatedOptions"
        [selectedValue]="homeStore.topRatedType$ | async"
        (selected)="changeTopRated($event)"
      ></app-pill-toggle>
    </div>

    <app-media-carousel
      [items]="(homeStore.topRated$ | async) || []"
      [type]="(homeStore.topRatedType$ | async)!"
    ></app-media-carousel>
  </section>
</div>
