<app-carousel
    [class.media-carousel-panel--backdrop]="variant === 'backdrop'"
    [ariaLabel]="ariaLabel"
    [columns]="columns"
    [items]="
        state.state === 'loading'
            ? (skeletonCount | repeat)
            : state.state === 'success' || state.state === 'loading-more'
              ? state.data
              : []
    "
>
    <ng-template let-item>
        @if (state.state === 'loading') {
            <div class="media-carousel-panel__skeleton-media">
                <app-skeleton class="media-carousel-panel__skeleton-fill" />
            </div>
        } @else {
            @if (variant === 'card') {
                <app-card
                    [item]="item"
                    [imageParams]="imageParams"
                    [showRating]="showRating"
                    [dateFormat]="dateFormat"
                />
            } @else {
                <app-backdrop-card
                    [item]="item"
                    [showRating]="showRating"
                    [showDate]="showDate"
                    [dateFormat]="dateFormat"
                ></app-backdrop-card>
            }
        }
    </ng-template>
</app-carousel>
