<div class="tmdb-rating">
    @if (loading) {
        <app-skeleton class="tmdb-rating__label-skeleton" aria-hidden="true" />
        <app-skeleton class="tmdb-rating__value-skeleton" aria-hidden="true" />
    } @else {
        <span class="tmdb-rating__label text-overline">{{ label }}</span>

        <div class="tmdb-rating__summary">
            <span class="tmdb-rating__primary">
                <i class="tmdb-rating__icon fa-solid fa-star" aria-hidden="true"></i>

                @if (value && value > 0) {
                    <span class="tmdb-rating__value text-title">
                        {{ value | number: '1.1-1' }}
                    </span>
                    <span class="tmdb-rating__scale text-meta">/10</span>
                } @else {
                    <span class="tmdb-rating__empty text-meta">{{ emptyText }}</span>
                }
            </span>

            @if (voteCount) {
                <span class="tmdb-rating__count text-meta">({{ voteCount | voteCount }})</span>
            }
        </div>
    }
</div>
