@if (data.state === 'loading') {
    <app-person-carousel-panel [state]="{ state: 'loading' }" />

    <div class="list">
        <div class="row row--skeleton">
            <app-skeleton class="text-skeleton" />
        </div>
        <div class="row row--skeleton">
            <app-skeleton class="text-skeleton" />
        </div>
        <div class="row row--skeleton row--all">
            <app-skeleton class="all-skeleton" />
        </div>
    </div>
} @else if (data.state === 'success') {
    @if (data.data; as credits) {
        <app-person-carousel-panel [state]="credits.topCastState" />

        @if (credits.directors.length || credits.creators.length) {
            <div class="list">
                @if (credits.directors.length) {
                    <div class="row">
                        <span class="label text-caption"> Director{{ credits.directors.length > 1 ? 's' : '' }} </span>

                        <span class="names text-body-sm">
                            @for (person of credits.directors.slice(0, 5); track person.id; let i = $index) {
                                <a class="link" [routerLink]="['/name', person.id]">
                                    {{ person.name }}
                                </a>
                                @if (i < (credits.directors.length > 5 ? 4 : credits.directors.length - 1)) {
                                    <span class="separator"> &#x2022; </span>
                                }
                            }

                            @if (credits.directors.length > 5) {
                                <span class="text-caption"> +{{ credits.directors.length - 5 }} more </span>
                            }
                        </span>
                    </div>
                }

                @if (credits.creators.length) {
                    <div class="row">
                        <span class="label text-caption"> Creator{{ credits.creators.length > 1 ? 's' : '' }} </span>

                        <span class="names text-body-sm">
                            @for (creator of credits.creators; track creator.id; let i = $index) {
                                <a class="link" [routerLink]="['/name', creator.id]">
                                    {{ creator.name }}
                                </a>
                                @if (i < credits.creators.length - 1) {
                                    <span class="separator"> &#x2022; </span>
                                }
                            }
                        </span>
                    </div>
                }
            </div>
        }

        <a class="row row--all" [routerLink]="['cast']">
            <span class="link text-body-sm">
                All cast & crew
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </a>
    }
}
