@use 'breakpoints' as *;
@use 'mixins' as *;

:host {
    --person-card-photo-size: 190px;
    display: block;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2);
    width: 100%;
    height: 100%;
    text-align: center;
}

a.card {
    @include media-hover();
}

.photo {
    width: 100%;
    max-width: var(--person-card-photo-size);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: var(--radius-full);
    border: 1px solid var(--mat-sys-outline-variant);
    box-shadow: var(--shadow-sm);
    --image-radius: var(--radius-full);
}

.photo-fill {
    height: 100%;
    --skeleton-height: 100%;
    --skeleton-radius: var(--radius-full);
}

.name {
    @include line-clamp(2);
}

.name-skeleton {
    width: 70%;
    --skeleton-height: 1lh;
}

.subtitle-skeleton {
    width: 50%;
    --skeleton-height: 1lh;
}

.rank-skeleton {
    width: 35px;
    --skeleton-height: 1.5rem;
    --skeleton-radius: var(--radius-sm);
}

@include mobile() {
    :host {
        --person-card-photo-size: 120px;
    }

    .card {
        gap: 0;
    }
}
