$mobile-max: 768px;
$tablet-max: 1024px;
$content-md-max: 1200px;
$content-sm-max: 960px;
$carousel-md-max: 1600px;
$carousel-sm-max: 1400px;
$carousel-xs-max: 920px;

@mixin mobile() {
    @media (max-width: $mobile-max) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: $tablet-max) {
        @content;
    }
}

@mixin content-md() {
    @media (max-width: $content-md-max) {
        @content;
    }
}

@mixin content-sm() {
    @media (max-width: $content-sm-max) {
        @content;
    }
}

@mixin carousel-md() {
    @media (max-width: $carousel-md-max) {
        @content;
    }
}

@mixin carousel-sm() {
    @media (max-width: $carousel-sm-max) {
        @content;
    }
}

@mixin carousel-xs() {
    @media (max-width: $carousel-xs-max) {
        @content;
    }
}
