@use './breakpoints' as *;
@use './mixins' as *;

.surface-panel {
    @include surface-panel();
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-6);
    background: var(--surface-panel-soft);
}

.empty-panel {
    border-radius: var(--radius-lg);
    background: var(--surface-panel-soft);
    border: 1px solid var(--color-border-subtle);
}

@include mobile() {
    .surface-panel {
        padding: var(--space-3);
    }
}
