<div class="carousel-wrapper" role="region" [attr.aria-label]="ariaLabel">
    <div
        class="carousel-viewport"
        #viewport
        tabindex="0"
        (keydown)="onViewportKeydown($event)"
    >
        <div class="carousel-track" #track>
            @for (item of items; track $index) {
                <div class="carousel-item">
                    <ng-container
                        [ngTemplateOutlet]="itemTemplate"
                        [ngTemplateOutletContext]="{
                            $implicit: item,
                            index: $index,
                        }"
                    ></ng-container>
                </div>
            }
        </div>
    </div>

    @if (hasOverflow) {
        <app-overlay-icon-button
            class="carousel__nav carousel__nav--prev"
            ariaLabel="Scroll carousel backward"
            [disabled]="!canPrev"
            (onClick)="prev()"
        >
            <i class="fa-solid fa-chevron-left"></i>
        </app-overlay-icon-button>
    }
    @if (hasOverflow) {
        <app-overlay-icon-button
            class="carousel__nav carousel__nav--next"
            ariaLabel="Scroll carousel forward"
            [disabled]="!canNext"
            (onClick)="next()"
        >
            <i class="fa-solid fa-chevron-right"></i>
        </app-overlay-icon-button>
    }
</div>
