<div class="skeleton-browser">
    <app-browse-toolbar>
        <div start class="toolbar-start">
            <app-skeleton class="count" />
            <div end class="sort u-flex-row u-gap-2">
                <app-skeleton class="filter filter--short" />
                <app-skeleton class="filter" />
            </div>
        </div>
        <div end class="sort u-flex-row u-gap-2">
            <app-skeleton class="language" />

            <app-skeleton />
        </div>
    </app-browse-toolbar>

    <div class="grid">
        @for (i of skeletonCount | repeat; track i) {
            <app-skeleton class="tile" />
        }
    </div>
</div>
