<div class="stepper-input" [class.stepper-input--wide]="wide">
    <button
        class="stepper-input__btn"
        type="button"
        (click)="onDecrement()"
    >
        &minus;
    </button>
    <input
        class="stepper-input__field"
        type="number"
        [placeholder]="placeholder"
        [value]="value ?? ''"
        [min]="min"
        [max]="max"
        (change)="onInputChange($event)"
    />
    <button
        class="stepper-input__btn"
        type="button"
        (click)="onIncrement()"
    >
        +
    </button>
</div>
