@use "responsive.scss" as *;

:host ::ng-deep {
  .details-container {
    @include mobile() {
      .photos-item {
        width: 150px;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
      .image-container {
        max-width: unset !important;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .person-image {
          width: 150px;
          height: auto;
        }
      }

      app-card {
        .card {
          width: 150px;
        }
      }

      .mobile-visible {
        display: block !important;
      }

      .mobile-hidden {
        display: none !important;
      }
    }
    app-card {
      .card {
        margin: 0;
        width: 250px;
      }
    }
    .person-image {
      width: 350px;
      height: 525px;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    .photos-item {
      width: 250px;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    .person-info-label {
      width: 120px;
    }

    .inner-container {
      max-width: 1400px;
    }

    .mobile-visible {
      display: none !important;
    }

    .mobile-hidden {
      display: block !important;
    }
  }

  .card {
    max-width: 300px;
  }

  .p-tablist-tab-list {
    justify-content: center;
  }
}
