@if (activeImage(); as image) {
    <div class="viewer">
        <div class="toolbar">
            <span class="toolbar__counter text-meta">{{ counter() }}</span>
            <div class="toolbar__actions">
                @if (data.photosLink) {
                    <app-overlay-icon-button (onClick)="openPhotosPage()" ariaLabel="Open photos page">
                        <mat-icon>grid_on</mat-icon>
                    </app-overlay-icon-button>
                }
                <app-overlay-icon-button (onClick)="close()" ariaLabel="Close">
                    <mat-icon>close</mat-icon>
                </app-overlay-icon-button>
            </div>
        </div>

        <div class="stage">
            <app-overlay-icon-button
                class="nav nav--prev"
                (onClick)="prev()"
                [disabled]="!hasPrev()"
                ariaLabel="Previous photo"
            >
                <mat-icon>chevron_left</mat-icon>
            </app-overlay-icon-button>

            <img class="photo" [src]="image.file_path ?? '' | imgSrc: 'w1280'" alt="" />

            <app-overlay-icon-button
                class="nav nav--next"
                (onClick)="next()"
                [disabled]="!hasNext()"
                ariaLabel="Next photo"
            >
                <mat-icon>chevron_right</mat-icon>
            </app-overlay-icon-button>
        </div>

        <div class="meta text-caption">
            @if (image.caption) {
                <span>{{ image.caption }}</span>
                <span class="meta__separator">&middot;</span>
            }
            @if (image.width && image.height) {
                <span>{{ image.width }} &times; {{ image.height }}</span>
            }
            @if (image.vote_average && image.vote_average > 0) {
                <span class="meta__separator">&middot;</span>
                <app-rating [value]="image.vote_average"></app-rating>
                @if (image.vote_count && image.vote_count > 0) {
                    <span class="meta__votes">({{ image.vote_count }})</span>
                }
            }
        </div>
    </div>
}
