@if (vm$ | async; as vm) {
    <div
        class="header-search"
        role="search"
        [class.header-search--open]="vm.searchOpen"
        [cdkTrapFocus]="vm.searchOpen"
        [cdkTrapFocusAutoCapture]="vm.searchOpen"
    >
        <div class="header-search__bar">
            <mat-form-field
                class="header-search__filter-field mat-mdc-form-field--borderless"
                appearance="outline"
                subscriptSizing="dynamic"
            >
                <mat-select
                    class="header-search__filter-select"
                    [value]="vm.searchFilter"
                    (selectionChange)="setFilter($event.value)"
                >
                    @for (opt of filterOptions; track opt.value) {
                        <mat-option [value]="opt.value">{{
                            opt.label
                        }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field
                class="header-search__input-field mat-mdc-form-field--borderless"
                appearance="outline"
                subscriptSizing="dynamic"
            >
                <input
                    matInput
                    [formControl]="searchControl"
                    (focus)="onSearchFocus()"
                    (keydown.enter)="navigateToSearch(vm.searchFilter)"
                    placeholder="Search movies, TV shows, people..."
                />
                <mat-icon
                    class="header-search__suffix header-search__search-icon"
                    matSuffix
                    >search</mat-icon
                >
                <button
                    matSuffix
                    mat-icon-button
                    class="header-search__suffix header-search__close-button"
                    (click)="closeSearch()"
                    aria-label="Close"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        @if (vm.showSearchDropdown) {
            <div class="header-search__dropdown">
                <app-header-search-results
                    [state]="vm.searchResultsState"
                    (resultSelected)="navigateToResult($event)"
                />
            </div>
        }
    </div>

    <button
        mat-icon-button
        class="header-search__toggle-button"
        (click)="toggleSearch()"
        aria-label="Search"
    >
        <mat-icon>search</mat-icon>
    </button>
}
