<div class="media-list">
    @if (state.state === 'loading') {
        <ng-container *ngTemplateOutlet="skeleton; context: { $implicit: skeletonCount }" />
    } @else if (state.state === 'success' || state.state === 'loading-more') {
        @for (entry of state.data; track entry.item.id) {
            <app-media-list-item
                [item]="entry.item"
                [genreNames]="entry.genreNames"
                [userRating]="entry.userRating"
                [link]="entry.routerLink"
                [index]="entry.index"
            />
        }
        @if (state.state === 'loading-more') {
            <ng-container *ngTemplateOutlet="skeleton; context: { $implicit: skeletonCount }" />
        }
    }
</div>

<ng-template #skeleton let-count>
    @for (i of count | repeat; track i) {
        <div class="media-list__skeleton-row">
            @if (showIndex) {
                <app-skeleton class="media-list__index-skeleton" />
            }
            <app-skeleton class="media-list__poster-skeleton" />
            <div class="media-list__content-skeleton">
                <app-skeleton class="media-list__line media-list__line--title" />
                <app-skeleton class="media-list__line media-list__line--meta" />
                <app-skeleton class="media-list__line media-list__line--body" />
                <app-skeleton class="media-list__line media-list__line--body-short" />
                <app-skeleton class="media-list__line media-list__line--cast" />
            </div>
        </div>
    }
</ng-template>
