@use 'mixins' as *;

.recently-viewed {
    text-align: left;

    &__title {
        margin: 0;
    }

    &__clear {
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
        @include text-link();
    }
}
