@if (items$ | async; as items) {
    @if (items.length) {
        <div class="recently-viewed">
            <div class="recently-viewed__header">
                <h2 class="text-title">Recently viewed</h2>

                <button
                    class="recently-viewed__clear text-body-sm"
                    type="button"
                    (click)="clearAll()"
                >
                    Clear all
                </button>
            </div>

            <app-carousel
                ariaLabel="Recently viewed titles and people"
                [columns]="6"
                [items]="items"
            >
                <ng-template let-item>
                    @if (item.kind === "person") {
                        <app-person-card [person]="item" />
                    } @else {
                        <app-card [item]="item" [showRating]="false" />
                    }
                </ng-template>
            </app-carousel>
        </div>
    }
}
