@use "responsive.scss" as *;

:host ::ng-deep {
    .search-button {
        color: var(--p-text-color);
    }
    @include mobile() {
        app-card {
            .card {
                width: 150px;
            }
        }
    }
    app-card {
        .card {
            margin: 0;
            width: 200px;
            max-height: 450px;
        }
    }
    .mat-chip {
        &.selected {
            background: var(--primary-color);
        }
    }
}
