<div class="h-full details-container md:px-4 md:pt-4">
  <h2 class="ml-4 md:ml-2">
    {{ title }}
  </h2>
  <div class="m-0 grid">
    @if ((type$ | async) !== "person") {
      @if (filterOptions$ | async; as filterOptions) {
        <div class="col col-12 md:col-2 flex flex-column gap-2">
          <p-accordion [value]="true">
            <p-accordion-panel [value]="false">
              <p-accordion-header>Sort</p-accordion-header>
              <p-accordion-content>
                <div class="w-full">
                  <p-select
                    appendTo="body"
                    [options]="sortOptions$ | async"
                    [ngModel]="filterOptions.sortBy"
                    (ngModelChange)="mediaListStoreService.updateSortBy($event)"
                    [showClear]="true"
                    optionLabel="label"
                    optionValue="value"
                    styleClass="w-full"
                  ></p-select>
                </div>
              </p-accordion-content>
            </p-accordion-panel> </p-accordion
          ><p-accordion [value]="true">
            <p-accordion-panel [value]="filterPanelState">
              <p-accordion-header>Filters</p-accordion-header>
              <p-accordion-content>
                <div class="w-full flex flex-column">
                  <h3>
                    {{
                      (type$ | async) === "tv" ? "Air Dates" : "Release Date"
                    }}
                  </h3>
                  <div
                    class="flex justify-content-between align-items-center mt-2"
                  >
                    <span [style.width.px]="100">from</span>
                    <p-date-picker
                      appendTo="body"
                      [ngModel]="filterOptions.fromDate"
                      (ngModelChange)="
                        mediaListStoreService.updateFromDate($event)
                      "
                    ></p-date-picker>
                  </div>
                  <div
                    class="flex justify-content-between align-items-center mt-2"
                  >
                    <span [style.width.px]="100">to</span>
                    <p-date-picker
                      appendTo="body"
                      [ngModel]="filterOptions.toDate"
                      (ngModelChange)="
                        mediaListStoreService.updateToDate($event)
                      "
                    ></p-date-picker>
                  </div>
                  <p-divider></p-divider>
                  <h3>Genres</h3>
                  <div
                    class="flex justify-content-start align-items-center mt-2 flex-wrap gap-2"
                  >
                    @for (genre of genres$ | async; track genre.id) {
                      <p-chip
                        #chip
                        styleClass="cursor-pointer text-sm"
                        [label]="genre.name"
                        (click)="toggleGenreSelection(genre)"
                      >
                      </p-chip>
                    }
                  </div>
                  <p-divider></p-divider>
                  <h3>User Score</h3>
                  <p-slider
                    [ngModel]="filterOptions.voteAverage"
                    (ngModelChange)="
                      mediaListStoreService.updateVoteAverage($event)
                    "
                    [step]="1"
                    [min]="0"
                    [max]="10"
                    [range]="true"
                    styleClass="w-full"
                  />
                  <div class="flex justify-content-center flex-row mt-2">
                    <span>{{ filterOptions.voteAverage![0] }}</span> -
                    <span>{{ filterOptions.voteAverage![1] }}</span>
                  </div>
                  <p-divider></p-divider>
                  <h3>Minimum User Votes</h3>
                  <p-slider
                    [ngModel]="filterOptions.minVoteCount"
                    (ngModelChange)="
                      mediaListStoreService.updateMinVoteCount($event)
                    "
                    [step]="10"
                    [min]="0"
                    [max]="500"
                    styleClass="w-full"
                  />
                  <div class="flex justify-content-center flex-row mt-2">
                    <span>{{ filterOptions.minVoteCount }}</span>
                  </div>
                </div>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </div>
      }
    }
    <div class="col col-12 lg:col flex flex-wrap gap-2 justify-content-center">
      @for (item of data$ | async; track item.id) {
        <app-card [item]="item" [type]="type$ | async"></app-card>
      }
      <div class="w-full flex justify-content-center m4-t">
        <p-paginator
          [first]="skip$ | async"
          [rows]="20"
          [totalRecords]="total$ | async"
          [alwaysShow]="false"
          [styleClass]="'paginator'"
          (onPageChange)="onPageChange($event)"
        >
        </p-paginator>
      </div>
    </div>
  </div>
</div>
