@if (item) {
    <a class="media-card" [routerLink]="['/title', item.id, item.mediaType]">
        <div class="media-card__media">
            <app-image
                class="media-card__image"
                [src]="item.imagePath"
                [alt]="item.title"
            />

            @if (showRating && item.rating) {
                <app-rating-badge
                    class="media-card__rating"
                    [value]="item.rating"
                />
            }
        </div>

        <div class="media-card__content">
            <span class="media-card__title text-body-sm">{{ item.title }}</span>

            @if (item.date) {
                <span class="media-card__meta text-caption">
                    {{
                        item.date
                            | date
                                : (dateFormat === "dayMonth"
                                      ? "dd MMM"
                                      : "yyyy")
                    }}
                </span>
            }

            @if (item.role) {
                <span class="media-card__role text-caption">{{ item.role }}</span>
            }
        </div>
    </a>
}
