@if (item) {
    <div
        class="card"
        [routerLink]="['/title', item.id, type || item.media_type]"
    >
        <app-media-thumb
            [src]="item.poster_path || item.profile_path"
            [alt]="item.title || item.name"
        />

        @if (item.vote_average) {
            <div class="rating-badge">
                <i class="fa-solid fa-star"></i>
                {{ item.vote_average | number: "1.1-1" }}
            </div>
        }

        <div class="card-info">
            <span class="title">{{ item.title || item.name }}</span>
            <span class="year">{{
                item.release_date || item.first_air_date | date: "yyyy"
            }}</span>
            @if (role) {
                <span class="role">{{ role }}</span>
            }
            <div class="hover-details">
                <p class="overview">{{ item.overview }}</p>
            </div>
        </div>
    </div>
}
