.user-list-edit-dialog__header {
    .user-list-edit-dialog__title {
        margin-bottom: 0.5rem;
    }
    margin-bottom: 1.5rem;
}
.user-list-edit-dialog__subtitle {
    color: var(--text-secondary);
}

.user-list-edit-dialog__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.user-list-edit-dialog__field {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.user-list-edit-dialog__description-field {
    --mat-form-field-container-height: auto;

    textarea.mat-mdc-input-element {
        resize: vertical;
    }
}
