@if (state.type === "loading") {
    <div class="videos-grid__section">
        @for (index of gridCount | repeat; track index) {
            <ng-container *ngTemplateOutlet="skeletonCard" />
        }
    </div>
} @else if (state.type === "loaded" || state.type === "loading-more") {
    @if (items.length) {
        <div class="videos-grid__section">
            @for (item of items; track item.id) {
                <app-video-card [item]="item" />
            }
        </div>
    }
}

<ng-template #skeletonCard>
    <div class="videos-grid__skeleton-card">
        <app-skeleton class="videos-grid__skeleton-art aspect-landscape" />
        <app-skeleton class="videos-grid__skeleton-line" />
        <app-skeleton class="videos-grid__skeleton-line videos-grid__skeleton-line--short" />
    </div>
</ng-template>
