.tmdb-signin-dialog {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);

    &__header {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
    }

    &__description {
        color: var(--text-secondary);
    }
}
