<div
    class="person-list-item"
    role="link"
    tabindex="0"
    [attr.aria-label]="'Open ' + person.title"
    (click)="onRowClick($event)"
    (keydown)="onRowKeydown($event)"
>
    @if (index) {
        <span class="person-list-item__index">{{ index }}.</span>
    }
    <app-image
        class="person-list-item__avatar"
        [src]="person.thumb"
        [alt]="person.title"
        type="person"
    />
    <div class="person-list-item__content">
        <span class="person-list-item__title text-body-sm">
            {{ person.title }}
        </span>
        @if (person.department) {
            <div class="person-list-item__department">
                <app-badge [label]="person.department"></app-badge>
            </div>
        }
        @if (person.knownForLinks.length) {
            <p class="person-list-item__known-for text-body-sm">
                @for (
                    kf of person.knownForLinks;
                    track kf.id;
                    let last = $last
                ) {
                    <a
                        class="person-list-item__known-for-link"
                        [routerLink]="['/title', kf.id, kf.mediaType]"
                    >
                        {{ kf.title }}
                    </a>
                    @if (!last) {
                        <span class="person-list-item__separator">, </span>
                    }
                }
            </p>
        }
    </div>
    <span class="person-list-item__trailing-icon" aria-hidden="true">
        <i class="fa-solid fa-chevron-right"></i>
    </span>
</div>
