<div
    class="video-card"
    [routerLink]="[
        '/title',
        item.mediaId,
        item.mediaType,
        'videos',
        item.videoId,
    ]"
>
    <div class="video-art" [class.video-art-poster]="showParentMediaLogo">
        @if (showParentMediaLogo && item.mediaPosterPath) {
            <app-media-thumb
                [src]="item.mediaPosterPath"
                [alt]="item.mediaTitle"
                [params]="'w342'"
            />
        } @else {
            <img
                [src]="youtubeThumbnail"
                [alt]="item.videoName || item.mediaTitle"
            />
        }

        <div class="video-play">
            <i class="fa-solid fa-play"></i>
        </div>
    </div>

    <div class="video-info">
        <p class="video-title">{{ item.videoName || item.mediaTitle }}</p>
        <a
            class="media-link"
            [routerLink]="['/title', item.mediaId, item.mediaType]"
            (click)="$event.stopPropagation()"
        >
            {{ item.mediaTitle }}
            @if (item.mediaYear) {
                ({{ item.mediaYear }})
            }
        </a>
        @if (item.videoPublishedAt) {
            <p class="video-date">
                {{ item.videoPublishedAt | date: "mediumDate" }}
            </p>
        }
    </div>
</div>
