@if (loading) {
    <div
        class="episode-list-item episode-list-item--loading"
        aria-hidden="true"
    >
        <app-skeleton
            class="episode-list-item__still episode-list-item__still-skeleton"
        />
        <div class="episode-list-item__content">
            <div class="episode-list-item__label">
                <app-skeleton class="episode-list-item__label-skeleton" />
            </div>
            <h3 class="episode-list-item__title">
                <app-skeleton class="episode-list-item__title-skeleton" />
            </h3>
            <div class="episode-list-item__meta">
                <app-skeleton class="episode-list-item__meta-skeleton" />
            </div>
            <p class="episode-list-item__overview">
                <app-skeleton class="episode-list-item__overview-skeleton" />
            </p>
        </div>
    </div>
} @else if (episode; as currentEpisode) {
    <a class="episode-list-item" [routerLink]="routerLink">
        <app-image
            class="episode-list-item__still"
            [src]="currentEpisode.still_path ?? null"
            [alt]="currentEpisode.name"
        />
        <div class="episode-list-item__content">
            <span class="episode-list-item__label text-caption">
                S{{ currentEpisode.season_number }}E{{
                    currentEpisode.episode_number
                }}
            </span>
            <h3 class="episode-list-item__title text-body-sm">
                {{ currentEpisode.name }}
            </h3>
            <div class="episode-list-item__meta text-meta">
                @if (currentEpisode.air_date) {
                    <span>{{ currentEpisode.air_date | date }}</span>
                }
                @if (currentEpisode.runtime) {
                    <span>{{ currentEpisode.runtime }}m</span>
                }
                @if (
                    currentEpisode.vote_average &&
                    currentEpisode.vote_average > 0
                ) {
                    <app-rating [value]="currentEpisode.vote_average" />
                }
            </div>
            <p class="episode-list-item__overview text-body-sm">
                {{ currentEpisode.overview || "No overview available." }}
            </p>
        </div>
        <span class="episode-list-item__trailing-icon" aria-hidden="true">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
    </a>
}
