<div class="photos-grid">
    @for (
        image of images;
        track image.file_path;
        let i = $index;
        let last = $last
    ) {
        <button
            class="photo-item"
            [class.large]="i < 3"
            [class.small]="i >= 3"
            [style.aspect-ratio]="aspectRatio"
            (click)="photoClick.emit(i)"
        >
            <img [src]="image.file_path ?? '' | imgSrc" alt="" />
            @if (last && totalCount > images.length) {
                <div class="more">+{{ totalCount - (images.length - 1) }}</div>
            }
        </button>
    }
</div>
