<div class="page-container">
    @if (vm$ | async; as vm) {
        <app-sub-page-header
            [backdropPath]="vm.media?.backdropPath"
            parentTitle="Episode"
            [backLink]="backLink"
            [pageTitle]="vm.pageTitle"
            [subtitle]="vm.subtitle"
            [loading]="!vm.episode || !vm.media"
        />

        <main class="page-main">
            @if (vm.photosState.state === "loading") {
                <app-photos-browser-skeleton />
            } @else if (vm.photosState.state === "success") {
                <app-photos-browser
                    [images]="vm.photosState.data"
                    (photoSelect)="openPhotoViewer($event)"
                />
            }
        </main>
    }
</div>
