<div class="page-container">
    @if (mediaStoreService.mediaDetailsState$ | async; as mediaState) {
        <app-sub-page-header
            [backdropPath]="
                mediaState.type === 'loaded'
                    ? mediaState.value?.backdropPath
                    : undefined
            "
            [parentTitle]="
                mediaState.type === 'loaded'
                    ? mediaState.value?.title
                    : undefined
            "
            [backLink]="['../']"
            pageTitle="Photos"
        />

        <main class="page-main page-main--full-padding">
            @if (mediaStoreService.photosState$ | async; as photosState) {
                @if (photosState.type === "loaded") {
                    <app-photos-browser
                        [images]="mediaStoreService.allPhotos$ | async"
                        (photoSelect)="openPhotoViewer($event)"
                    />
                } @else if (
                    photosState.type === "loading" ||
                    photosState.type === "idle"
                ) {
                    <app-photos-browser-skeleton />
                }
            }
        </main>
    }
</div>
