<div class="page-container">
    @if (vm$ | async; as vm) {
        <app-sub-page-header
            [backdropPath]="vm.media?.backdropPath"
            [parentTitle]="vm.media?.title"
            [backLink]="['../']"
            pageTitle="Photos"
        />

        <main class="page-main">
            @if (vm.photosState.state === "success") {
                <app-photos-browser
                    [images]="vm.images"
                    (photoSelect)="openPhotoViewer($event)"
                />
            } @else if (vm.photosState.state === "loading") {
                <app-photos-browser-skeleton />
            }
        </main>
    }
</div>
