<div class="people-page">
  <div class="section-header">
    <h2>Popular People</h2>
  </div>

  <div class="results-grid">
    @for (item of peopleStore.data$ | async; track item.id) {
      <app-card [item]="item" type="person"></app-card>
    }
  </div>

  @if ((peopleStore.total$ | async)! > 20) {
    <div class="paginator-wrapper">
      <p-paginator
        [first]="peopleStore.skip$ | async"
        [rows]="20"
        [totalRecords]="peopleStore.total$ | async"
        [alwaysShow]="false"
        (onPageChange)="onPageChange($event)"
      ></p-paginator>
    </div>
  }
</div>
