<footer class="footer">
    <div class="footer-inner inner-container">
        <nav class="footer-links">
            <a href="https://github.com/dtoro97/tmdb-client" target="_blank">
                Source Code
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <a
                href="https://github.com/dtoro97/tmdb-client/issues"
                target="_blank"
            >
                Report a Bug
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
        </nav>
        <nav class="footer-links">
            <a href="https://angular.dev/" target="_blank">
                Angular <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <a href="https://material.angular.io/" target="_blank">
                Angular Material
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
        </nav>
        <div class="footer-brand">
            <span>Powered by</span>
            <a href="https://www.themoviedb.org/" target="_blank">
                <img src="assets/tmdb-icon.svg" class="tmdb-logo" alt="TMDB" />
            </a>
        </div>
        <p class="footer-copyright">© 2025 Created by Dávid Törő</p>
    </div>
</footer>
