<section class="not-found">
    <div class="not-found__panel">
        <span class="not-found__code text-overline">
            <i class="fa-regular fa-compass" aria-hidden="true"></i>
            404
        </span>

        <div class="not-found__content u-flex-column u-gap-3">
            <h1 class="text-display">Page not found</h1>
            <p class="text-body">
                The title, person, or page you were looking for is not in this
                corner of the database.
            </p>
        </div>

        <div class="not-found__actions u-flex u-items-center u-gap-3">
            <a matButton="filled" [routerLink]="['/']">
                <i class="fa-solid fa-house" aria-hidden="true"></i>
                Home
            </a>
            <a matButton class="text-button" [routerLink]="['/discover']">
                Browse titles
            </a>
        </div>
    </div>
</section>
