<div class="page-container">
    @if (personDetailStore.personDetailVm$ | async; as vm) {
        <app-sub-page-header
            [parentTitle]="
                (vm.person.type === 'loaded'
                    ? vm.person.value?.name
                    : undefined) ?? ''
            "
            [backLink]="['../']"
            pageTitle="Photos"
        />

        <div class="page-main">
            @if (vm.photos.type === "loading" || vm.photos.type === "idle") {
                <app-photos-browser-skeleton></app-photos-browser-skeleton>
            } @else if (vm.photos.type === "loaded") {
                <app-photos-browser
                    [images]="vm.photos.value"
                    (photoSelect)="openPhotoViewer($event)"
                />
            }
        </div>
    }
</div>



