<div>
    <header>
        <h2 class="user-list-confirm-dialog__title text-title">
            {{ data.title }}
        </h2>
        <p class="user-list-confirm-dialog__message text-body-sm">
            {{ data.message }}
        </p>
    </header>

    <mat-dialog-actions align="end">
        <button matButton type="button" mat-dialog-close>
            {{ data.cancelLabel ?? "Cancel" }}
        </button>
        <button matButton="filled" type="button" (click)="confirm()">
            {{ data.confirmLabel }}
        </button>
    </mat-dialog-actions>
</div>
