<app-carousel
    [items]="
        state.type === 'loading'
            ? (skeletonCount | repeat)
            : state.type === 'loaded' || state.type === 'loading-more'
              ? state.value
              : []
    "
>
    <ng-template let-person let-rank="index">
        @if (state.type === "loading") {
            <div class="person-carousel-panel__skeleton">
                <div class="person-carousel-panel__photo">
                    <app-skeleton
                        class="person-carousel-panel__photo-fill"
                    />
                </div>

                <app-skeleton class="person-carousel-panel__name text-meta" />
                <app-skeleton
                    class="person-carousel-panel__subtitle text-caption"
                />

                @if (showRank) {
                    <app-skeleton
                        class="person-carousel-panel__rank text-label"
                    />
                }
            </div>
        } @else {
            <app-person-card
                [person]="person"
                [rank]="showRank ? rank + 1 : null"
            />
        }
    </ng-template>
</app-carousel>
