<div
  class="h-full details-container py-4"
  [ngClass]="{ dark: isDarkMode$ | async, mobile: isMobile$ | async }"
>
  <div
    *ngIf="person$ | async as person"
    class="flex flex-wrap flex-row gap-3 md:gap-6 md:p-0 inner-container px-3"
  >
    <div
      class="ml-auto mr-auto md:mx-2 md:mx-6 image-container"
      [style.maxWidth.px]="350"
    >
      <img
        src="{{ person.profile_path | imgSrc : 'w500' }}"
        class="person-image border-round-xl"
      />
      <h1 class="m-0" *ngIf="(isMobile$ | async) === true">
        {{ person.name }}
      </h1>
      <div class="mt-4 mb-3">
        <app-social-links
          [links]="links$ | async"
          [item]="person"
        ></app-social-links>
      </div>
      <h2 class="m-0" *ngIf="(isMobile$ | async) === false">Personal Info</h2>
      <ul class="list-none line-height-4 pl-0">
        <li class="flex">
          <div class="person-info-label">Known For</div>
          <div class="flex-1">{{ person.known_for_department }}</div>
        </li>
        <li class="flex" *ngIf="person.birthday">
          <div class="person-info-label">Born</div>
          <div class="flex-1">
            <span>{{ person.birthday | date }}</span
            ><span *ngIf="!person.deathday"> (age {{ personAge }})</span>
          </div>
        </li>
        <li class="flex" *ngIf="person.deathday">
          <div class="person-info-label">Died</div>
          <div class="flex-1">
            <span>{{ person.deathday | date }}</span
            ><span> (age {{ personAge }})</span>
          </div>
        </li>
        <li class="flex" *ngIf="person.place_of_birth">
          <div class="person-info-label">Place of Birth</div>
          <div class="flex-1">{{ person.place_of_birth }}</div>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <h1 class="m-0 mb-4" *ngIf="(isMobile$ | async) === false">
        {{ person.name }}
      </h1>
      <h2 class="m-0 mb-2" *ngIf="person.biography">Biography</h2>
      <p class="m-0 line-height-4">
        {{ person.biography }}
      </p>
    </div>
  </div>
  <div class="mt-2">
    <p-tabs [value]="activeTab" (valueChange)="activeTab = $event">
      <p-tablist>
        <ng-container *ngFor="let tabHeader of tabs$ | async">
          <p-tab *ngIf="tabHeader.visible" [value]="tabHeader.value">{{
            tabHeader.title
          }}</p-tab>
        </ng-container>
      </p-tablist>
    </p-tabs>
    <ng-container *ngIf="activeTab === 'knownFor' && hasCredits$ | async">
      <p-select
        *ngIf="visibleCredits$ | async as visibleCredits"
        styleClass="mt-3 ml-5"
        optionLabel="label"
        optionValue="value"
        [ngModel]="visibleCredits"
        [options]="creditsOptions"
        [disabled]="creditsOptions.length === 1"
        (ngModelChange)="changeVisibleCredits($event)"
      ></p-select>
      <div class="flex flex-wrap gap-3 justify-content-start mt-3">
        <ng-container
          *ngFor="let item of knownFor$ | async | sort : 'vote_average'"
        >
          <app-card [item]="item" [type]="item.media_type"></app-card>
        </ng-container>
      </div>
    </ng-container>
    <app-credits-list
      *ngIf="activeTab === 'credits' && hasCredits$ | async"
      [credits]="credits$ | async"
    ></app-credits-list>
    <ng-container *ngIf="activeTab === 'photos'">
      <div class="flex flex-wrap gap-3 mt-4 justify-content-start">
        <a
          href="{{ image.file_path | imgSrc }}"
          target="_blank"
          *ngFor="let image of images$ | async"
        >
          <img class="photos-item" src="{{ image.file_path | imgSrc }}" />
        </a>
      </div>
    </ng-container>
  </div>
</div>
