.actor-card {
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
  &.mobile {
    img {
      width: 100px;
      height: 100px;
    }
  }
  img {
    background-position: center;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 9999px;
  }

  .secondary {
    color: var(--p-text-muted-color);
  }
}
