@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
body,
html {
  font-family: "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
