@if (state.state === 'loading') {
    <ul class="episode-list" aria-label="Episodes loading">
        @for (i of skeletonCount | repeat; track i) {
            <li class="episode-list__item">
                <app-episode-list-item [loading]="true" />
            </li>
        }
    </ul>
} @else if (state.state === 'success') {
    <ul class="episode-list" aria-label="Episodes">
        @for (item of state.data; track item.id) {
            <li class="episode-list__item">
                <app-episode-list-item [item]="item.item" />
            </li>
        }
    </ul>
}
