<div
  class="flex flex-column py-4 md:mx-8 mx-2"
  [class.dark]="isDarkMode$ | async"
  [class.mobile]="isMobile()"
>
  <div class="flex flex-row">
    <div>
      <label for="department" class="mr-2">Department</label>
      <p-select
        [id]="'department'"
        [disabled]="departmentOptions.length < 3"
        [options]="departmentOptions"
        [(ngModel)]="department"
        optionLabel="label"
        optionValue="value"
      ></p-select>
    </div>
    <div>
      <label for="media" class="mr-2 ml-4">Media</label>
      <p-select
        [id]="'media'"
        [options]="mediaOptions"
        [disabled]="mediaOptions.length < 3"
        [(ngModel)]="media"
        optionLabel="label"
        optionValue="value"
      ></p-select>
    </div>
  </div>
  @if (
    (department === "all" && credits.cast?.length) || department === "acting"
  ) {
    <h2>Acting</h2>
    <div class="flex flex-column gap-1">
      @for (
        item of credits.cast || []
          | sort: "date"
          | filter: (media === "all" ? {} : { media_type: media });
        track item.id
      ) {
        <div class="flex flex-row align-items-center mb-1 credit-item">
          <span class="py-2 px-4 year">
            {{ item.date ? (item.date | date: "yyyy") : "-" }}
          </span>
          <a
            class="cursor-pointer py-2 px-4"
            [routerLink]="['/details', item.media_type, item.id]"
            ><strong>{{ item.title || item.name }}</strong>
            <span class="muted"
              >&nbsp;as {{ item.character || item.job }}</span
            ></a
          >
        </div>
      }
    </div>
  }
  @if (
    (department === "all" && credits.crew?.length) ||
    department === "production"
  ) {
    <h2>Production</h2>
    <div class="flex flex-column gap-1">
      @for (
        item of credits.crew || []
          | sort: "date"
          | filter: (media === "all" ? {} : { media_type: media });
        track item.id
      ) {
        <div class="flex flex-row align-items-center mb-1 credit-item">
          <span class="py-2 px-4 year">
            {{ item.date ? (item.date | date: "yyyy") : "-" }}
          </span>
          <a
            class="cursor-pointer py-2 px-4"
            [routerLink]="['/details', item.media_type, item.id]"
            ><strong>{{ item.title || item.name }}</strong>
            <span class="muted"
              >&nbsp;as {{ item.character || item.job }}</span
            ></a
          >
        </div>
      }
    </div>
  }
</div>
