name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Inject API key for production build
        run: |
          sed -i "s|\${API_KEY}|${{ secrets.API_KEY }}|g" \
          src/environments/environment.ts

      - name: Build Angular app
        run: |
          npx ng build \
          --configuration production \
          --base-href https://dtoro97.github.io/tmdb-client/

      - name: Deploy to gh-pages
        run: npx angular-cli-ghpages --dir=dist/tmdb-client/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
